
@{
    ViewBag.Title = "Духови";
}

<h1 class="heading">Духови инструменти</h1>

<p class="intro">
    Духовите инструменти са изработени от месинг. Те могат да издават най-силен звук от всички инструменти.
    Духовите инструменти са много дълги тръби, разширяващи се в края. Те са извити за да могат по-лесно да се държат.
    На духов инструмент се свири като устните се поставят в отвора, оформен като чаша и се надува. Надуването предизвиква
    вибриране на въздуха надолу по тръбата и издава звук. Много духови инструменти имат клапани, които приличат на бутони.
    Когато се натискат клапаните се отварят и затварят части от тръбата. Звукът се променя, като се натискат клапани и се духа
    по-силно или по-леко.
</p>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading purple">
                <h3 class="panel-title">Валдхорна</h3>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img src="/pictures/frenchhorn.png" alt="Alternate Text" class="img-responsive" />
                </div>
                <div class="col-sm-8">
                    <div class="panel-body">
                        <p> Валдхорната лесно се забелязва заради кръглата й форма. Тя представлява дълга стройна метална тръба
                        дълга около 5 метра и завъртяна два пъти с форма на звънец в края. На валдхорна се свири като се държи
                        с края надолу и се духа през отвора. Лявата ръка управлява клапаните, а дясната се движи през камбаната,
                        за да мени звука. За по-силен звук камбаната се обръща нагоре.</p>
                        <audio controls><source src="/sounds/horn.mp3" type="audio/mpeg" /></audio>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading green">
                <h3 class="panel-title">Тромпет</h3>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img src="/pictures/trumpet.jpg" alt="Alternate Text" class="img-responsive" />
                </div>
                <div class="col-sm-8">
                    <div class="panel-body">
                        <p> Тромпетът съществува от много дълго време. Хората са свирили на
                        инструменти подобни на трумпети направени от раковини, рога, дърво или метал от хиляди години.
                        Стандартният съвременен тромпет е дълга метална тръба с 3 клапана. Тя е във формата на кламер,
                        но ако се разгъне ще бъде дълга 2 метра. Трометът свири най-високите тонове от семейство духови.
                        Неговият звук е ведър и вълнуващ.</p>
                        <audio controls><source src="/sounds/trumpet.mp3" type="audio/mpeg" /></audio>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading blue">
                <h3 class="panel-title">Тромбон</h3>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img src="/pictures/trombone.jpg" alt="Alternate Text" class="img-responsive" />
                </div>
                <div class="col-sm-8">
                    <div class="panel-body">
                        <p> Тромбонът е мощен и уникален инструмент. Той няма клапани, а за да сменя звука изпозва
                        плъзгащата си форма. Стандартният тромбон е направен от дълги извити под формата на U метални тръби.
                        Едната тръба се плъзга върху другата, така че дължината на тромбона може да се променя, като по 
                        този начин се сменят тоновете на звука.</p>
                        <audio controls><source src="/sounds/trombone.mp3" type="audio/mpeg" /></audio>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading yellow">
                <h3 class="panel-title">Туба</h3>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img src="/pictures/tuba.jpg" alt="Alternate Text" class="img-responsive" />
                </div>
                <div class="col-sm-8">
                    <div class="panel-body">
                        <p>Тубата е най-големият духов инструмент и има най-ниските тонове. Той представлява
                        дълга метална тръба, завъртяна няколко пъти и завършваща с огромна камбана.
                        Има различни размери туби. Стандартната туба има дължина на тръбата около 5 метра.
                        Колкото е по-дълга тръбата, толкова по-нисък е тонът. Тубата свири много дълбоки,
                        ниски и богати тонове.</p>
                        <audio controls><source src="/sounds/tuba.mp3" type="audio/mpeg" /></audio>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading purple">
                <h3 class="panel-title">Флейта</h3>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img src="/pictures/flute.jpg" alt="Alternate Text" class="img-responsive" />
                </div>
                <div class="col-sm-8">
                    <div class="panel-body">
                        <p>В началото флейтите са се правили от дърво. В днешно време обикновено се правят от сребро, злато
                        или друг метал. Стандартната флейта е дълга около 70см. На флейта се свири като флейтата се държи настрани
                        и се духа въздух през горния отвор. С пръсти се натискат копчетата, които променят тона на звука.</p>
                        <audio controls><source src="/sounds/flute.mp3" type="audio/mpeg" /></audio>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading green">
                <h3 class="panel-title">Кларинет</h3>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img src="/pictures/clarinet.jpg" alt="Alternate Text" class="img-responsive" />
                </div>
                <div class="col-sm-8">
                    <div class="panel-body">
                        <p>Кларинетът е дълга черна тръба с камбановиден край и метални копчета.
                        Кларинетът има ключ, за който е закрепен мундщука. Стандартният кларинет е дълъг 65см.
                        На кларинет се свири като се поставят мундщука и ключа в устата и се духа. 
                        Двете ръце се използват за да се натискат копчетата, чрез които се 
                        променя тона на звука.</p>
                        <audio controls><source src="/sounds/clarinet.mp3" type="audio/mpeg" /></audio>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row test-btn">
    <p><a class="btn btn-success col-sm-offset-9" href="@Url.Action("BrassTest", "Tests")">Упражни знанията си &raquo;</a></p>
</div>