
@{
    ViewBag.Title = "Струнни";
}

<h1 class="heading">Струнни инструменти</h1>

<p class="intro">
    Въпреки, че много от струнните инструменти си приличат,
    те са много различни по размер и звук. Както може би се досещате,
    всички инструменти от това семейство имат струни, изработени от стомана или найлон.
    На струнен инструмент се свири като се влачи перце от конски косъм по струните
    или се придърпват и почукват струните. Всички струнни инструменти освен арфата имат
    извити кухи дървени основи и дълги вратове.
</p>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading purple">
                <h3 class="panel-title">Цигулка </h3>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img src="~/pictures/violin.jpg" alt="Alternate Text" class="img-responsive" />
                </div>
                <div class="col-sm-8">
                    <div class="panel-body">
                        <p>
                            Цигулката е най-малкия инструмент с най-висок тон от семейство струнни.
                            Звукът на цигулката е висок и ведър. На цигулка се свири като я подпреш между брадичката и рамото.
                            Лявата ръка натиска струните за да смени височината, а дясната ръка движи лъка. Стандартната
                            цигулка е дълга около 61см. Лъкът на цигулката е около 74см.
                        </p>
                        <audio controls><source src="~/sounds/violin.mp3" type="audio/mpeg" /></audio>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading green">
                <h3 class="panel-title">Виола</h3>
            </div>
            <div class="row">
                <div class="col-sm-4">

                    <img src="~/pictures/viola.jpg" alt="Alternate Text" class="img-responsive" />
                </div>
                <div class="col-sm-8">
                    <div class="panel-body">
                        <p>
                            Този инструмент може да ви изглежда като цигулка, но не се заблуждавайте, това е виола.
                            Тя е по-голяма по размер и с по-нисък тон от цигулката. Звукът на виолата е по-дълбок и
                            по-свеж. Стандартната виола е дълга около 69см. Лъкът на виолата е 74см,
                            като той е по-дебел и по-тежък от лъка на цигулката, защото струните на виолата са малко
                            по-дебели.
                        </p>

                        <audio controls><source src="~/sounds/viola.mp3" type="audio/mpeg" /></audio>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading blue">
                <h3 class="panel-title">Виолончело</h3>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img src="~/pictures/chelo.jpg" alt="Alternate Text" class="img-responsive" />
                </div>
                <div class="col-sm-8">
                    <div class="panel-body ">
                        <p>Виолончелото прилича на цигулката, но е доста по-голямо с по-къс врат и по-нисък тон.
                        Челото издава разнообразие от красиви звуци - от живи ниски тонове до богати високи.
                        Стандартното чело е дълго около 122см. Лъкът му е дълъг над 72см е по-дебел от лъка на виолата.
                        На чело се свири като се седне на стол и основата на челото се постави между коленете, а врата на
                        челото се постави на лявото рамо. То се подпира на земята чрез метална поставка. С лявата ръка
                        се натискат струните, за да се смени височината, а с дясната ръка се движи лъкът по струните.</p>
                        <audio controls><source src="/sounds/cello.mp3" type="audio/mpeg" /></audio>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading yellow">
                <h3 class="panel-title">Арфа</h3>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img src="~/pictures/harp.jpg" alt="Alternate Text" class="img-responsive" />
                </div>
                <div class="col-sm-8">
                    <div class="panel-body">
                        <p>Арфата е голям инструмент с 47 струни, опънати между дървена рамка. Долната част на дървената
                        рамка е куха. Стандарта арфа е дълга около 182см и тежи 36-40кг. На арфа се свири като се поставят
                        краката отстрани на арфата. Тя леко се навежда на дясното рамо. Всяка струна свири различна нота
                        и тя се свири, използвайки една ръка от всяка страна на струната. Струните се придърпват с пръсти.
                        В дъното на арфата от задната страна има 7 педала, които се управляват със стъпала. Те позволяват 
                        на всяка струна да изсвирва 3 различни ноти.</p>
                        <audio controls><source src="/sounds/harp.mp3" type="audio/mpeg" /></audio>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row test-btn">
    <p><a class="btn btn-success col-sm-offset-9" href="@Url.Action("StringsTest", "Tests")">Упражни знанията си &raquo;</a></p>
</div>